.footer {
    min-height: 630px;
    position: relative;
}
.footer__info {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 460px;
    height: 270px;
    background: #C70101;
}
.footer__adress {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 50px;
}
.footer__phone {
    display: block;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 36px;
    padding-bottom: 36px;
    &:hover {
        text-decoration: underline;
    }
}
.footer__social {
    display: flex;
    justify-content: center;
}
.footer__social-link {
    margin: 0 15px;
}